<html data-wf-domain="localhost:3000">
<head>
    <meta charset="utf-8">
<title>Finteh Horizons Media - Company Data Archive</title>
<head>
  <link rel="load" href="styles.css" as="style">
  <link rel="load" href="ui.js" as="script">
<meta content="List of companies archives." name="description">
<meta content="Finteh Horizons Media - Company Data Archive" property="og:title">
<meta content="List of companies archives." property="og:description">
<meta content="summary" name="twitter:card">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="stylesheet" media="screen" href="/assets/webflow2-c87cc75df7df7cd829afa56b79ae9406f24e1a460c7c81bb24b12d4333f1fd1a.css">
<link rel="stylesheet" media="screen" href="/assets/normalize2-cd21b8a6e997fbebb6a2aa1f70bc860a30bfeb0e13f63709f9b61c61588a4c29.css">
<link rel="stylesheet" media="screen" href="/assets/component-ccb77e387849386ad51de5a66b2a4820a137c63b83ab703e421b211bc700a061.css">
<link rel="stylesheet" type="text/css" href="https:/uploads-ssl.webflow.com/5a6d291892eb9700011a4667/css/fintechhorizons.60b20f2ad.css">
<script src="https:/ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript">
</script>
</head>



  <body>
    <div class="section gray overflow">
      <div class="container w-container">
        <div data-ix="show-line-on-hover">
          <div class="align-center">
            <div class="top-title big">
              <h1 class="heading">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;">MEET OUR GREAT TEAM</span></h1>
              <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                </div>
            </div>
          </div>
          <div>
            <div class="w-row">
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="97b48735-4d6d-ed32-aef4-7dd6ab1628b5">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Philip Brower</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lead Director</span></p>
                    </div>
                    <div class="circle-plus" data-w-id="d79f6561-f018-29b5-d09d-2b3983189973">
                      </div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="21b83f0f-365b-3a1c-9e25-6383e3c94a15">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _2">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">David Muller</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lead Engineer</span></p>
                    </div>
                    <div class="circle-plus">
                    </div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="5346cfa3-327b-0ac1-c199-4c51914c90f6">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _3">
                    </div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Luk Turner</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect</span></p>
                    </div>
                    <div class="circle-plus">
                      </div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;">
                      <a class="social-icon darker w-inline-block" href="#">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a>
                      <a class="social-icon darker w-inline-block" href="#">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a>
                      <a class="social-icon no-margin-social darker w-inline-block" href="#">
                   <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a>
                   </span>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-margin medium in-team">
            <div class="w-row">
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="ebabc387-cb2e-e858-8b14-528ad69ff441">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _4">
                      </div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Artem Mesh</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Interior Designer</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="4ececfea-9307-9d16-adcd-f5b263ebbf9e">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _5">
                      </div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Mariana Noe</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="34406b34-a034-1d9f-8490-8fe1b4df324f">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _6">
                      </div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Gohan Lee</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Project Department</span></p>
                    </div>
                    <div class="circle-plus">
                      </div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;">
                      <a class="social-icon darker w-inline-block" href="#">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16">
                      </a>
                      <a class="social-icon darker w-inline-block" href="#">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a>
                      <a class="social-icon no-margin-social darker w-inline-block" href="#">
                      <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-page">
          <div class="align-center" data-ix="show-line-on-hover">
            <div class="top-title big">
              <h1 class="heading">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;">Clients</span></h1>
              <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                </div>
            </div>
            <div class="div-block" data-ix="show-line-on-hover">
              <div class="client-wrapper">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="client-logo w-inline-block" href="#">
                <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d83f81df25e0001d65b64_partner7.png" width="100">
                <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84112d6ad4000172b0c5_partner3.png" width="120"></a>
                <a class="client-logo w-inline-block" href="#">
                <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d843c36499300015d32af_partner1.png" width="45"></a>
                <a class="client-logo w-inline-block" href="#">
                <img sizes="(max-width: 479px) 46vw, 140px" src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5.png">
                 <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5-p-500.png 500w">
                 <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5.png 1405w" width="140">
                 <img sizes="(max-width: 479px) 46vw, 120px"
                 <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8.png">
                 <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8-p-500.png 500w">
                 <img src= "http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8-p-800.png 800w">
                  <img src="http:/uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8.png 993w" width="120">
                  </a>
                  </span>
                  </div>
              <div class="client-wrapper longer">
                &nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-flex w-clearfix">
      <div class="half-section">
        &nbsp;</div>
      <div class="half-section full">
        &nbsp;</div>
      <div class="container in-half-section w-container" data-ix="show-line-on-hover">
        <div class="row w-row">
          <div class="w-col w-col-4 w-col-stack">
            <div class="bottom-margin-device">
              <div class="center-device">
                <div>
                  <div class="heading-block">
                    <h1 class="heading">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;">Testimonials</span></h1>
                    <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                      &nbsp;</div>
                  </div>
                </div>
                <div class="top-margin less">
                  <div class="link-wrapper make-center-in-device" data-ix="link-arrow-on-hover">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="link" href="/contact">LETS WORK TOGETHER</a><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-8 w-col-stack">
            <div>
              <div class="slider w-slider" data-animation="cross" data-duration="500" data-infinite="1" data-nav-spacing="5">
                <div class="mask w-slider-mask"><div class="w-slide" style="transform: translateX(0px); opacity: 1;">
                    <div class="w-row">
                      <div class="w-col w-col-6 w-col-small-small-stack w-col-medium-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">John Doe</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Menager at Complexx</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-6 w-col-small-small-stack w-col-medium-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Raven Drug</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect at Group</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><div class="w-slide" style="transform: translateX(0px); opacity: 1; visibility: hidden;">
                    <div class="w-row">
                      <div class="w-col w-col-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Sara William</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">CEO at Webflow</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Sami Typo</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Founder of Balfin GROUP</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div></div>
                <div class="right-arrow w-slider-arrow-left">
                  <div class="w-icon-slider-left">
                    &nbsp;</div>
                </div>
                <div class="right-arrow w-slider-arrow-right">
                  <div class="w-icon-slider-right">
                    &nbsp;</div>
                </div>
                <div class="slide-nav w-slider-nav w-round"><div class="w-slider-dot w-active" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div><div class="w-slider-dot" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section gray second">
      <div class="container w-container" data-ix="show-line-on-hover">
        <div class="align-center">
          <div class="top-title big">
            <h1 class="heading">
              <span style="font-family:trebuchet ms,helvetica,sans-serif;">the blog</span></h1>
            <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
              &nbsp;</div>
          </div>
        </div>
        <div>
          <div class="w-dyn-list">
            <div class="w-dyn-items w-row">
              <div class="blog-item w-dyn-item w-col w-col-6">
                <div class="blog-image" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5a8b1385522d5f0001331762/5a8da31add3c11000103c3e7_blog-3.jpg&quot;)">
                  <div class="meta-tag">
                    <div class="meta-number">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">6</a></span></div>
                    </div>
                    <div class="meta-month">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Dec</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="blog-content">
                  <div class="heading-block">
                    <h1 class="heading in-blog">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Better Building For Better Life</a></span></h1>
                  </div>
                  <div class="top-margin less">
                    <p>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Credibly evisculate top-line synergy rather than resource sucking collaboration and idea-sharing.</a></span></p>
                  </div>
                  <div class="top-margin">
                    <div class="link-wrapper" data-ix="link-arrow-on-hover">
                      <div class="link">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Read More</a></span></div>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life"><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="blog-item w-dyn-item w-col w-col-6">
                <div class="blog-image" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5a8b1385522d5f0001331762/5a8da305dd3c11000103c3d7_blog-4.jpg&quot;)">
                  <div class="meta-tag">
                    <div class="meta-number">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">31</a></span></div>
                    </div>
                    <div class="meta-month">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Dec</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="blog-content">
                  <div class="heading-block">
                    <h1 class="heading in-blog">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Interior On Big Building</a></span></h1>
                  </div>
                  <div class="top-margin less">
                    <p>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Credibly evisculate top-line synergy rather than resource sucking collaboration and idea-sharing.</a></span></p>
                  </div>
                  <div class="top-margin">
                    <div class="link-wrapper" data-ix="link-arrow-on-hover">
                      <div class="link">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Read More</a></span></div>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building"><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-margin medium in-team">
          <div class="link-wrapper center" data-ix="link-arrow-on-hover">
            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="link" href="/blog">view all</a><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></span></div>
        </div>
      </div>
    </div>
    <div class="section-form">
      <div class="form-wrapper" data-ix="show-line-on-hover">
        <div class="form-normal">
          <div class="form-content">
            <div class="heading-block">
              <h1 class="heading-white">
                <span style="Jura,trebuchet ms,helvetica,sans-serif;">NEED A QUOTE</span></h1>
              <div class="heading-line whiter" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                &nbsp;</div>
            </div>
            <div class="top-margin medium">
              <div class="form-block w-form">
                <form data-name="Email Form" id="email-form" name="email-form">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;"><label class="field-label" for="name">Name:</label><input class="text-field w-input" data-="" id="name" maxlength="256" name="name" placeholder="Enter your name" required="" type="text"><label class="field-label" for="email">Email Address:</label><input class="text-field w-input" data-="" id="email" maxlength="256" name="email" placeholder="Enter your email" required="" type="email"><label class="field-label" for="Phone">Phone Number:</label><input class="text-field w-input" data-="" id="Phone" maxlength="256" name="Phone" placeholder="Enter your phone" required="" type="text"><label class="field-label" for="Message">Message:</label><textarea class="text-field area w-input" data-name="Message" id="Message" maxlength="5000" name="Message" placeholder="Enter your message" required=""></textarea></span>
                  <div class="top-margin">
                    <div class="align-center">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><input class="button line w-button" data-wait="Please wait..." type="submit" value="Request a Quote"></span></div>
                  </div>
                </form>
                <div class="success-message w-form-done">
                  <div>
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Thank you! Your submission has been received!</span></div>
                </div>
                <div class="error-message w-form-fail">
                  <div>
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Oops! Something went wrong while submitting the form.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div>
        <div class="w-row">
          <div class="w-col w-col-4">
            <div>
              <div class="footer-title">
                <span style="font-family:jura,helvetica,sans-serif;">MADE BY CHRIS MARQUEZ</span></div>
              <div class="top-margin">
                <p class="paragraph-white in-footer">
                  <span style="font-family:jura,helvetica,sans-serif;">ADRESS TO BE<br>
                  Rocky Point, Sonora<br>
                  P.O Box ###<br>
                  <br>
                  P: (052)631-193-2613<br>
                  E: chrismarquezg@gmail.com</span></p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <div class="margin-device">
                <div class="footer-title">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">Kevin Nasfizger</span></div>
                <div class="top-margin">
                  <p class="paragraph-white in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Adresee<br>
                    Mesa, Arizona<br>
                    P.O Box $$$$$$<br>
                    <br>
                    P: +1 (480) 438-5302<br>
                    E: kevinphx411@gmail.com</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <div class="margin-device">
                <div class="footer-title">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">Maybe Another person</span></div>
                <div class="top-margin">
                  <p class="paragraph-white in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">physical adress<br>
                    Elsewere, Hoping<br>
                    P.O Box 1234<br>
                    <br>
                    P: +1 (123) 456- 7890<br>
                    E: @#$$%$%%%.@Gmail</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-margin medium">
          <div class="copyright-wrapper">
            <div class="row-flex w-row">
              <div class="column w-col w-col-7">
                <p class="copyright">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">© 2018 FINTECH HORIZONS <a class="copy-link" href="http://denibozo.com/" target="_blank">Chris Marquez</a>. Graphic Designer for <a class="copy-link" href="https://webflow.com/" target="_blank">Fintech Horizons</a>.</span></p>
              </div>
              <div class="column-2 w-col w-col-5">
                <div class="social-in-footer w-clearfix">
                  <div class="social-wrapper left in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="15"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script></head></html>
  <body cz-shortcut-listen="true"><div class="section gray overflow">
      <div class="container w-container">
        <div data-ix="show-line-on-hover">
          <div class="align-center">
            <div class="top-title big">
              <h1 class="heading">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;">MEET OUR GREAT TEAM</span></h1>
              <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                &nbsp;</div>
            </div>
          </div>
          <div>
            <div class="w-row">
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="97b48735-4d6d-ed32-aef4-7dd6ab1628b5">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Philip Brower</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lead Director</span></p>
                    </div>
                    <div class="circle-plus" data-w-id="d79f6561-f018-29b5-d09d-2b3983189973">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="21b83f0f-365b-3a1c-9e25-6383e3c94a15">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _2">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">David Muller</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lead Engineer</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="5346cfa3-327b-0ac1-c199-4c51914c90f6">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _3">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Luk Turner</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="top-margin medium in-team">
            <div class="w-row">
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="ebabc387-cb2e-e858-8b14-528ad69ff441">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _4">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Artem Mesh</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Interior Designer</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="4ececfea-9307-9d16-adcd-f5b263ebbf9e">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _5">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Mariana Noe</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-4 w-col-stack">
                <div class="team-expander" data-w-id="34406b34-a034-1d9f-8490-8fe1b4df324f">
                  <div class="team-wrapper" data-ix="show-social-content-on-click">
                    <div class="member-photo _6">
                      &nbsp;</div>
                    <div>
                      <h4 class="member-title">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Gohan Lee</span></h4>
                      <p class="member-work">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Project Department</span></p>
                    </div>
                    <div class="circle-plus">
                      &nbsp;</div>
                  </div>
                  <div class="team-content">
                    <div class="team-space">
                      <p class="paragraph-no-margin">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare</span></p>
                    </div>
                  </div>
                  <div class="team-social">
                    <div class="team-space other">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a><a class="social-icon no-margin-social darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="16"></a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-page">
          <div class="align-center" data-ix="show-line-on-hover">
            <div class="top-title big">
              <h1 class="heading">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;">Clients</span></h1>
              <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                &nbsp;</div>
            </div>
            <div class="div-block" data-ix="show-line-on-hover">
              <div class="client-wrapper">
                <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="client-logo w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d83f81df25e0001d65b64_partner7.png" width="100"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84112d6ad4000172b0c5_partner3.png" width="120"></a><a class="client-logo w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d843c36499300015d32af_partner1.png" width="45"></a><a class="client-logo w-inline-block" href="#"><img sizes="(max-width: 479px) 46vw, 140px" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5.png" srcset="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5-p-500.png 500w, http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d8420b7a50a0001e1a5e6_partner5.png 1405w" width="140"><img sizes="(max-width: 479px) 46vw, 120px" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8.png" srcset="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8-p-500.png 500w, http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8-p-800.png 800w, http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d84ab689c090001cab24c_partner8.png 993w" width="120"></a></span></div>
              <div class="client-wrapper longer">
                &nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-flex w-clearfix">
      <div class="half-section">
        &nbsp;</div>
      <div class="half-section full">
        &nbsp;</div>
      <div class="container in-half-section w-container" data-ix="show-line-on-hover">
        <div class="row w-row">
          <div class="w-col w-col-4 w-col-stack">
            <div class="bottom-margin-device">
              <div class="center-device">
                <div>
                  <div class="heading-block">
                    <h1 class="heading">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;">Testimonials</span></h1>
                    <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                      &nbsp;</div>
                  </div>
                </div>
                <div class="top-margin less">
                  <div class="link-wrapper make-center-in-device" data-ix="link-arrow-on-hover">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="link" href="/contact">LETS WORK TOGETHER</a><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-8 w-col-stack">
            <div>
              <div class="slider w-slider" data-animation="cross" data-duration="500" data-infinite="1" data-nav-spacing="5">
                <div class="mask w-slider-mask"><div class="w-slide" style="transform: translateX(0px); opacity: 1;">
                    <div class="w-row">
                      <div class="w-col w-col-6 w-col-small-small-stack w-col-medium-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">John Doe</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Menager at Complexx</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-6 w-col-small-small-stack w-col-medium-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Raven Drug</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Architect at Group</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><div class="w-slide" style="transform: translateX(0px); opacity: 1; visibility: hidden;">
                    <div class="w-row">
                      <div class="w-col w-col-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Sara William</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">CEO at Webflow</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-6">
                        <div class="testi-wrapper">
                          <div class="quote-icon">
                            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d9342689c090001cacadc_icon%20(1).svg" width="30"></span></div>
                          <div class="top-margin">
                            <p class="quote-paragraph">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Aliquam eu nunc. Cras dapibus. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eunisl.</span></p>
                          </div>
                          <div class="top-margin">
                            <h4 class="member-title testi-name">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Sami Typo</span></h4>
                            <p class="member-work">
                              <span style="font-family:trebuchet ms,helvetica,sans-serif;">Founder of Balfin GROUP</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div></div>
                <div class="right-arrow w-slider-arrow-left">
                  <div class="w-icon-slider-left">
                    &nbsp;</div>
                </div>
                <div class="right-arrow w-slider-arrow-right">
                  <div class="w-icon-slider-right">
                    &nbsp;</div>
                </div>
                <div class="slide-nav w-slider-nav w-round"><div class="w-slider-dot w-active" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div><div class="w-slider-dot" data-wf-ignore="" style="margin-left: 5px; margin-right: 5px;"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section gray second">
      <div class="container w-container" data-ix="show-line-on-hover">
        <div class="align-center">
          <div class="top-title big">
            <h1 class="heading">
              <span style="font-family:trebuchet ms,helvetica,sans-serif;">the blog</span></h1>
            <div class="heading-line" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
              &nbsp;</div>
          </div>
        </div>
        <div>
          <div class="w-dyn-list">
            <div class="w-dyn-items w-row">
              <div class="blog-item w-dyn-item w-col w-col-6">
                <div class="blog-image" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5a8b1385522d5f0001331762/5a8da31add3c11000103c3e7_blog-3.jpg&quot;)">
                  <div class="meta-tag">
                    <div class="meta-number">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">6</a></span></div>
                    </div>
                    <div class="meta-month">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Dec</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="blog-content">
                  <div class="heading-block">
                    <h1 class="heading in-blog">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Better Building For Better Life</a></span></h1>
                  </div>
                  <div class="top-margin less">
                    <p>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Credibly evisculate top-line synergy rather than resource sucking collaboration and idea-sharing.</a></span></p>
                  </div>
                  <div class="top-margin">
                    <div class="link-wrapper" data-ix="link-arrow-on-hover">
                      <div class="link">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life">Read More</a></span></div>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/better-building-for-better-life"><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></a></span></div>
                  </div>
                </div>
              </div>
              <div class="blog-item w-dyn-item w-col w-col-6">
                <div class="blog-image" style="background-image:url(&quot;https://uploads-ssl.webflow.com/5a8b1385522d5f0001331762/5a8da305dd3c11000103c3d7_blog-4.jpg&quot;)">
                  <div class="meta-tag">
                    <div class="meta-number">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">31</a></span></div>
                    </div>
                    <div class="meta-month">
                      <div>
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Dec</a></span></div>
                    </div>
                  </div>
                </div>
                <div class="blog-content">
                  <div class="heading-block">
                    <h1 class="heading in-blog">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Interior On Big Building</a></span></h1>
                  </div>
                  <div class="top-margin less">
                    <p>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Credibly evisculate top-line synergy rather than resource sucking collaboration and idea-sharing.</a></span></p>
                  </div>
                  <div class="top-margin">
                    <div class="link-wrapper" data-ix="link-arrow-on-hover">
                      <div class="link">
                        <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building">Read More</a></span></div>
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="blog-wrapper w-inline-block" href="/post/interior-on-big-building"><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-margin medium in-team">
          <div class="link-wrapper center" data-ix="link-arrow-on-hover">
            <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="link" href="/blog">view all</a><img class="arrow-image" src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8d755b2d6ad400017294b8_right-arrow%20(2).svg" width="15" style="transform-style: preserve-3d; transition: transform 200ms; transform: translateX(0px) translateY(0px) translateZ(0px);"></span></div>
        </div>
      </div>
    </div>
    <div class="section-form">
      <div class="form-wrapper" data-ix="show-line-on-hover">
        <div class="form-normal">
          <div class="form-content">
            <div class="heading-block">
              <h1 class="heading-white">
                <span style="Jura,trebuchet ms,helvetica,sans-serif;">NEED A QUOTE</span></h1>
              <div class="heading-line whiter" data-ix="line-first-app" style="width: 0%; transition: width 400ms;">
                &nbsp;</div>
            </div>
            <div class="top-margin medium">
              <div class="form-block w-form">
                <form data-name="Email Form" id="email-form" name="email-form">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;"><label class="field-label" for="name">Name:</label><input class="text-field w-input" data-="" id="name" maxlength="256" name="name" placeholder="Enter your name" required="" type="text"><label class="field-label" for="email">Email Address:</label><input class="text-field w-input" data-="" id="email" maxlength="256" name="email" placeholder="Enter your email" required="" type="email"><label class="field-label" for="Phone">Phone Number:</label><input class="text-field w-input" data-="" id="Phone" maxlength="256" name="Phone" placeholder="Enter your phone" required="" type="text"><label class="field-label" for="Message">Message:</label><textarea class="text-field area w-input" data-name="Message" id="Message" maxlength="5000" name="Message" placeholder="Enter your message" required=""></textarea></span>
                  <div class="top-margin">
                    <div class="align-center">
                      <span style="font-family:trebuchet ms,helvetica,sans-serif;"><input class="button line w-button" data-wait="Please wait..." type="submit" value="Request a Quote"></span></div>
                  </div>
                </form>
                <div class="success-message w-form-done">
                  <div>
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Thank you! Your submission has been received!</span></div>
                </div>
                <div class="error-message w-form-fail">
                  <div>
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Oops! Something went wrong while submitting the form.</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div>
        <div class="w-row">
          <div class="w-col w-col-4">
            <div>
              <div class="footer-title">
                <span style="font-family:jura,helvetica,sans-serif;">MADE BY CHRIS MARQUEZ</span></div>
              <div class="top-margin">
                <p class="paragraph-white in-footer">
                  <span style="font-family:jura,helvetica,sans-serif;">ADRESS TO BE<br>
                  Rocky Point, Sonora<br>
                  P.O Box ###<br>
                  <br>
                  P: (052)631-193-2613<br>
                  E: chrismarquezg@gmail.com</span></p>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <div class="margin-device">
                <div class="footer-title">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">Kevin Nasfizger</span></div>
                <div class="top-margin">
                  <p class="paragraph-white in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">Adresee<br>
                    Mesa, Arizona<br>
                    P.O Box $$$$$$<br>
                    <br>
                    P: +1 (480) 438-5302<br>
                    E: kevinphx411@gmail.com</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-col w-col-4">
            <div>
              <div class="margin-device">
                <div class="footer-title">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">Maybe Another person</span></div>
                <div class="top-margin">
                  <p class="paragraph-white in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;">physical adress<br>
                    Elsewere, Hoping<br>
                    P.O Box 1234<br>
                    <br>
                    P: +1 (123) 456- 7890<br>
                    E: @#$$%$%%%.@Gmail</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-margin medium">
          <div class="copyright-wrapper">
            <div class="row-flex w-row">
              <div class="column w-col w-col-7">
                <p class="copyright">
                  <span style="font-family:trebuchet ms,helvetica,sans-serif;">© 2018 FINTECH HORIZONS <a class="copy-link" href="http://denibozo.com/" target="_blank">Chris Marquez</a>. Graphic Designer for <a class="copy-link" href="https://webflow.com/" target="_blank">Fintech Horizons</a>.</span></p>
              </div>
              <div class="column-2 w-col w-col-5">
                <div class="social-in-footer w-clearfix">
                  <div class="social-wrapper left in-footer">
                    <span style="font-family:trebuchet ms,helvetica,sans-serif;"><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5c5a40ac800017ba8bf_font-awesome_4-7-0_facebook_100_0_ffffff_none.png" width="16"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5dc1f2f8f00011d6670_font-awesome_4-7-0_twitter_100_0_ffffff_none.png" width="16"></a><a class="social-icon darker w-inline-block" href="#"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af621b39fc100011ee937_font-awesome_4-7-0_linkedin_100_0_ffffff_none.png" width="15"><img src="http://uploads.webflow.com/5a85b2803b54f10001f56d34/5a8af5f83d7e9200018dffc3_font-awesome_4-7-0_instagram_100_0_ffffff_none.png" width="17"></a></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><script src="https://uploads-ssl.webflow.com/5a85b2803b54f10001f56d34/js/webflow.05f05250b.js" type="text/javascript"></script><!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->

</body>
