
<DOCTYPE html>
<meta charset="utf-8">

<head>  
  <title>FinTech Horizons</title>
  
  <meta name="stripe-public-key" />
  
  <link  rel="stylesheet"  href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="all" href="/assets/application-1eb87753c3db728b505a6e1f5cc14667b6be4509fa3ccbca1bdde7f451956749.css" data-turbolinks-track="reload" />
  <script src="/assets/application-c476e2e6df553000cf77d60ade565bb49759ee59aea323914cb55c8583e0ce04.js" media="all"></script>
  
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="landing"  class="body-2">
<div class="container" style="padding:34px; padding-bottom:0px">

<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav"><div class="w-container">
    <img src="http://uploads.webflow.com/5a6d291892eb9700011a4667/5aced35cbd046d59f4a2f8b0_fintech%20horizons%20brand%20text%20web%20banner.png" width="1087" />
</div></div>  
  <nav class="navbar navbar-default inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
  
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav">
      
        
        <li><a href="/posts">Articles</a></li><li><a href="/links">From the Web</a></li><li><a href="/executives">Executives</a></li><li><a href="/companies">Companies</a></li><li><a href="/meetings">Events</a></li><li style="color:red"><a href="/welcome/horizonspro">Subcribe/Free Trial</a></li>
        
          <li><a href="/twitter/index">Twitter</a></li></li>
        
        
        <li><a href="">Welcome Chris</a></li>

        <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a></li>   

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
  <div class="container"> 
     <br/> 
<p id="notice"></p>
 

 <div id="oldbutton" class="row">         
   <div class="col-md-6"></div>   
      <div class="form-block w-form mx-right col md-6">
         <form action="https://businessappk3400.herokuapp.com/companies" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
         <input type="text" name="term" id="term" style="mx-center" class="text-field w-input col-md-4" placeholder="search for company" />
          <input type="submit" name="commit" value="Search" style="mx-top;margin-left:5px;margin-top:2px;margin-bottom:14px" id="oldbutton" class="button btn btn-primary btn-circle" data-disable-with="Search" />
</form>      </div>
   </div>  
   <div data-collaata-animation="default" data-duration="400" class="navigation-bar w-nav">       
     
      <div id="tag_cloud">
         
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Energy">Energy</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Lead+Generation">Lead Generation</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Marketplace">Marketplace</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=SaaS">SaaS</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=software">software</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Human+Resources">Human Resources</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Automotive">Automotive</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Point+of+Sale">Point of Sale</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Virtual+Currency">Virtual Currency</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=payments">payments</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=remittances">remittances</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=HealthInsuranceBenefits">HealthInsuranceBenefits</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Trading+Platforms">Trading Platforms</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=emerging+markets">emerging markets</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=OnlineProducts">OnlineProducts</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Healthcare">Healthcare</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Information+Technology">Information Technology</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=consoritum">consoritum</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=supply+chain">supply chain</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=news">news</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Peer+to+Peer">Peer to Peer</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Non+Profit">Non Profit</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Self-Funded">Self-Funded</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=E-Learning">E-Learning</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=FinTech">FinTech</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=Financial+Services">Financial Services</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Blockchain">Blockchain</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Computer">Computer</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Security">Security</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=exchange">exchange</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Publishing">Publishing</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=Insurance">Insurance</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Collaboration">Collaboration</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Cyber+Security">Cyber Security</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="l" href="/companies?tag=bitcoin">bitcoin</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=cryptocurrency">cryptocurrency</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Financial+Exchanges">Financial Exchanges</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Privacy">Privacy</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Exchanges">Exchanges</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Mining">Mining</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=E-Commerce">E-Commerce</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Cloud+Management">Cloud Management</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Internet">Internet</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=Unicorn">Unicorn</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Parking">Parking</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Professional+Services">Professional Services</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=artificial+intelligence">artificial intelligence</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=crowdfunded">crowdfunded</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Venture+Capital">Venture Capital</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Auto+Insurance">Auto Insurance</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="m" href="/companies?tag=finance">finance</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Hardware">Hardware</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Industrial">Industrial</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Internet+of+Things">Internet of Things</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=InsurTech">InsurTech</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Mobile">Mobile</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Mobile+Payments">Mobile Payments</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Communities">Communities</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Life+Insurance">Life Insurance</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Management+Information+Systems">Management Information Systems</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Risk+Management">Risk Management</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=analytics">analytics</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Big+Data">Big Data</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Education">Education</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Reputation">Reputation</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Real+Estate">Real Estate</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Transportation">Transportation</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=banking">banking</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Machine+Learning">Machine Learning</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Apps">Apps</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Mobile+Apps">Mobile Apps</a>
            </span>
            <span class="badge badge-info mx-1" style="padding:7px"> 
            <a style="color:white" class="s" href="/companies?tag=Health+Care">Health Care</a>
            </span>
         
         <span class="badge badge-info mx-1" style="padding:7px">  
         <a style="font-size: 2.0em; color:white" href="/companies?fav=fav">My Favorites</a></span>
         
         <span class="badge mx-1" style="padding:7px">  
         <a style="font-size: 1.6em; color:white" href="/companies">All Companies</a></span>    
      
      </div>
   
   </div>

    <h3> All Companies</h3>
      <nav class="pagination" role="navigation" aria-label="pager">
    
    
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/companies?page=2">2</a>
</span>

        <span class="page">
  <a href="/companies?page=3">3</a>
</span>

        <span class="page">
  <a href="/companies?page=4">4</a>
</span>

        <span class="page">
  <a href="/companies?page=5">5</a>
</span>

        <span class="page gap">&hellip;</span>

      <span class="next">
  <a rel="next" href="/companies?page=2">Next &rsaquo;</a>
</span>

      <span class="last">
  <a href="/companies?page=8">Last &raquo;</a>
</span>

  </nav>

    <br/>

<section>
   <div class="row">
      <div class="card-deck">
         

<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/136">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWms9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--bdb6e998adc1223af68ef6a727ae115d042d2225/ABRA.png" />
</a>                    <span class="card-title"><h4><a href="/companies/136">ABRA</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Abra is a promising digital wallet app for instant a... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.abra.com/ ", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/136/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/199">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaG9CIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d4a44ce760bb8d104efbff46edc132b6df64d25e/ALLAY.png" />
</a>                    <span class="card-title"><h4><a href="/companies/199">ALLAY</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Allay is a technology platform that makes it easy fo... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://allay.io/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/199/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=HealthInsuranceBenefits">HealthInsuranceBenefits</a>, <a style="margin:0px;display:inline" href="/companies?tag=OnlineProducts">OnlineProducts</a>, <a style="margin:0px;display:inline" href="/companies?tag=Healthcare">Healthcare</a>, <a style="margin:0px;display:inline" href="/companies?tag=Self-Funded">Self-Funded</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/126">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWTg9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--89725f0cddd79bfb3512464cbc260c4b6b36b8bc/alphapoint.png" />
</a>                    <span class="card-title"><h4><a href="/companies/126">*ALPHAPOINT</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>ALPHAPOINT is a FinTech startup powering digital ass... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://alphapoint.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/126/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/206">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaUlCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f57da073c6b1fc05ccf4ff65c2f481069f03632d/analyzare.png" />
</a>                    <span class="card-title"><h4><a href="/companies/206">AnalyzeRe</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Analyze Re uses deep industry experience to provide ... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://analyzere.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/206/favorite">Favorite</a>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/56">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBUUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cb9b7c62e35633d5b6b46282748d46bacaefb8b9/np0x6orlh4rbsfqa2kgl-e1485586434790.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/56">ANT FINANCIAL</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Ant Financial Services Group is an online payment se... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.antfin.com/index.htm?locale=en_US", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/56/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/214">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBakFCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--8ad4b7235b071bdd75dbbdff57717f7e9eda2345/Apixio.png" />
</a>                    <span class="card-title"><h4><a href="/companies/214">APIXIO</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Apixio&#39;s HCC Profiler enables health systems and ins... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://www.apixio.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/214/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=analytics">analytics</a>, <a style="margin:0px;display:inline" href="/companies?tag=Big+Data">Big Data</a>, <a style="margin:0px;display:inline" href="/companies?tag=Health+Care">Health Care</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/221">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBajRCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d51ffca0be31c6846dd1e94bd1cf5a8aeb98070d/assisto.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/221">ASSISTO</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Assisto is an intuitive, fast and easy to use app to... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://assis.to/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/221/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=Transportation">Transportation</a>, <a style="margin:0px;display:inline" href="/companies?tag=Apps">Apps</a>, <a style="margin:0px;display:inline" href="/companies?tag=Mobile+Apps">Mobile Apps</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/22">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--328bd0ab5fdfc84c8528c7b342e091a47929a7b5/LK.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/22">Auditchain</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Auditchain is the world&#39;s first decentralized contin... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://auditchain.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/22/favorite">Favorite</a>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/53">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBTdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2fe968d8431cd7e46beab5b80a2af30ee3beec96/AUGUR.png" />
</a>                    <span class="card-title"><h4><a href="/companies/53">AUGUR</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Augur is a prediction market platform that rewards y... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://www.augur.net/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/53/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/215">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBakVCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--c2a040544f07ba2da82c2c7f6551efeb4ca42fcd/auregus.png" />
</a>                    <span class="card-title"><h4><a href="/companies/215"> AUREUS ANALYTICS </a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Customer Intelligence &amp; Experience company. Focus on... </p>
        </div>
        <div class="card-action">
                   
                    <a href="", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/215/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=Insurance">Insurance</a>, <a style="margin:0px;display:inline" href="/companies?tag=banking">banking</a>, <a style="margin:0px;display:inline" href="/companies?tag=Machine+Learning">Machine Learning</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/166">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBY2c9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a8eb5aa01c532ba5c69316386bf2d2b73fe13a22/bnuevelab.png" />
</a>                    <span class="card-title"><h4><a href="/companies/166">B9LAB</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>B9lab delivers education, advisory &amp; research on blo... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.b9lab.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/166/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=E-Learning">E-Learning</a>, <a style="margin:0px;display:inline" href="/companies?tag=Blockchain">Blockchain</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/125">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWTQ9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--6acf86949a49da81ac51a5d91e86e6a92d2a2bde/BACKFEED.png" />
</a>                    <span class="card-title"><h4><a href="/companies/125">BACKFEED</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Backfeed provides a solution for communication and c... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://backfeed.cc/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/125/favorite">Favorite</a>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/207">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaVFCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7ad76badeaa2b6e0f241093a1ed73389dc73a41c/BABYZAT.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/207">BAYZAT</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bayzat is a technology company that offers insurance... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.bayzat.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/207/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/198">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaGdCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--8c3d87ee033bf4791187e2b7123c0c688666bf99/VHFPphGM_400x400.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/198">BIGCHAIN</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BigchainDB is a blockchain database offering decentr... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.bigchaindb.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/198/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/131">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWlE9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--84199ca55dbd15e7c8010b1ce7b371febbba02ee/BILLON.png" />
</a>                    <span class="card-title"><h4><a href="/companies/131">BILLON</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Billon  is an app that allows to buy and sell conten... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://billongroup.com/en/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/131/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/208">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaVlCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5da563c4b68fc6f5860da03e59cf119eede7e464/BIMA.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/208">BIMA</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BIMA uses mobile technology to deliver services that... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://bimamobile.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/208/favorite">Favorite</a>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/152">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBYk09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--cb8af2fbd814c503a435bf957f6ca9a0282c9ec5/bitaccess.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/152">BITACCESS</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bitaccess is a technology company dedicated to onboa... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://www.bitaccess.co/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/152/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=FinTech">FinTech</a>, <a style="margin:0px;display:inline" href="/companies?tag=bitcoin">bitcoin</a>, <a style="margin:0px;display:inline" href="/companies?tag=Cloud+Management">Cloud Management</a>, <a style="margin:0px;display:inline" href="/companies?tag=finance">finance</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/81">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBaZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--75a0286b4e3600ec7fec9edd6d57d21fb759b5b7/bitcoinmagazine.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/81">BITCOIN MAGAZINE </a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bitcoin Magazine is an online platform that provides... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://bitcoinmagazine.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/81/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=news">news</a>, <a style="margin:0px;display:inline" href="/companies?tag=Publishing">Publishing</a>, <a style="margin:0px;display:inline" href="/companies?tag=bitcoin">bitcoin</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/78">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBaQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--941c3376c129f27f256d3887e639cdd86a008039/bitfinix.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/78">BITFINEX.COM </a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bitfinex is a digital asset trading platform offerin... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.bitfinex.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/78/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=Trading+Platforms">Trading Platforms</a>, <a style="margin:0px;display:inline" href="/companies?tag=Exchanges">Exchanges</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/194">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ3dCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--265b89f36d138a1bffda2876a0aa3c6785f800b6/BITFURY.png" />
</a>                    <span class="card-title"><h4><a href="/companies/194">BITFURY</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bitfury is the leading full service Blockchain techn... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://bitfury.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/194/favorite">Favorite</a>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/174">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZEU9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--fd01712458587c7a8eb8ee27662d173d075decfd/BitGo.png" />
</a>                    <span class="card-title"><h4><a href="/companies/174">BITGO</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BitGois a company offering one of the top Bitcoin wa... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://www.bitgo.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/174/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/128">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBWkU9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5c6c0562c9d9de69af45bcbcb93ad5bbefc65642/BITMARK.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/128">BITMARK</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>Bitmark is aiming to create an environment through b... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://bitmark.com/ ", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/128/favorite">Favorite</a>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/64">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBWdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--2a2057c12d93d2716b88cfbf22824cc2563abf5e/bitpay.png" />
</a>                    <span class="card-title"><h4><a href="/companies/64">BitPay</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BitPay is the global leader in bitcoin payment proce... </p>
        </div>
        <div class="card-action">
                   
                    <a href="https://bitpay.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/64/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=payments">payments</a>, <a style="margin:0px;display:inline" href="/companies?tag=bitcoin">bitcoin</a></p>
                    </div>

        </div>
</div>
</div>
    


<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/82">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBadz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5f90727d7e96d16307e4918a6de2d5495ad35c95/Bitpay.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/82">BITPAY</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BitPay is a payment processor for the peer-to-peer d... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://bitpay.com/", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/82/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=payments">payments</a>, <a style="margin:0px;display:inline" href="/companies?tag=Peer+to+Peer">Peer to Peer</a>, <a style="margin:0px;display:inline" href="/companies?tag=bitcoin">bitcoin</a>, <a style="margin:0px;display:inline" href="/companies?tag=finance">finance</a></p>
                    </div>
                    </div>
                    </div>

        </div>
</div>
</div>
    


<div class="card-deck">
<div style="padding-bottom: 35px" class="row">

<div class="col-md-3 col-xs6">
    <div class="cmp">
        <div class="card-image">
                        <a class="btn-link" href="/companies/20">
                          </br> <img src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBIZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7c0f227ea342e57192e04753c7fc15ba438bec8d/13886378_1846803222216735_4278395226011490442_n.jpg" />
</a>                    <span class="card-title"><h4><a href="/companies/20">BitPesa</a>
                    </h4>
                    </span>
        </div>   
        <div class="card-content">
                    <p>BitPesa is a pan-African platform redefining how bus... </p>
        </div>
        <div class="card-action">
                   
                    <a href="http://www.@bitpesa.co", target="_blank" >Website</a>
                    
                        <a class="link" href="/companies/20/favorite">Favorite</a>
                    <div class="post-info"><p>Tags: <a style="margin:0px;display:inline" href="/companies?tag=emerging+markets">emerging markets</a></p>
                    </div>

        </div>
</div>
</div>
    

      </div>  
   </div>
</section>

    <br/>        
    <section>
        <nav class="pagination" role="navigation" aria-label="pager">
    
    
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/companies?page=2">2</a>
</span>

        <span class="page">
  <a href="/companies?page=3">3</a>
</span>

        <span class="page">
  <a href="/companies?page=4">4</a>
</span>

        <span class="page">
  <a href="/companies?page=5">5</a>
</span>

        <span class="page gap">&hellip;</span>

      <span class="next">
  <a rel="next" href="/companies?page=2">Next &rsaquo;</a>
</span>

      <span class="last">
  <a href="/companies?page=8">Last &raquo;</a>
</span>

  </nav>

    </section>

</div>
  </div>  
   
   

  
<link rel="stylesheet" media="screen" href="/posts/normalize.css" />
<link rel="stylesheet" media="screen" href="/posts/webflow.css" />
<link rel="stylesheet" media="screen" href="/posts/kevinblog.webflow.css" />   
    <div id="custom-footer">
    <div id="landing" class="footer">
    <div class="container-fluid">
        <div class="line-divider in-footer">
        </div>
        <div class="align-center">
        </div>
    </div>
    <div class="section-4">
        <div class="row-3 w-row">
            <div class="column-9 w-col w-col-3">
                <div class="text-block-7">
                    <a class="link-2" href="/contacts/new">Contact</a>                
                </div>
            </div>
            <div class="column-10 w-col w-col-3">
                <div class="text-block-7">
                 <a class="link-2" href="/landings/privacy">Privacy Policy</a>
                </div>
            </div>
            <div class="column-11 w-col w-col-3">
                <div class="text-block-7">
                    <a class="link-2" href="/landings/terms">Terms of Service</a>            
                </div>
            </div>
            <div class="column-12 w-col w-col-3">
                <div class="text-block-7"><a class="link-2" href="/welcome/horizonspro">Subscribe</a>
                </div>
            </div>
        </div>
         <br><br>
         <div class="row-3 w-row">
            <div class="column-9 w-col w-col-3">
                    <div class="text-block-7">
                    <span><a href="/twitter/index">Twitter Feed</a></span>
                    </div>
            </div>
            <div class="column-10 w-col w-col-3">
                <div class="text-block-7">
                 <a class="link-2" href="/icos">ICO Data</a>
                </div>
            </div>
            <div class="column-11 w-col w-col-3">
                <div class="text-block-7">
                     <a class="link-2" href="/landings/team">Team</a>
                </div>
            </div>
            <div class="column-12 w-col w-col-3">
                <div class="text-block-7">    
                    <a class="link-2" href="/users/edit.54">Profile</a>
                </div>
            </div>
        </div>
    


    
    </div>
    



    <br>
    <p class="paragraph-3">© 2018 FINTECH HORIZONS LLC
    </p>
   </div>
    </div>  
  </body>

</html>
