<!doctype html>

<meta charset="utf-8">


  <title>FinTech Horizons</title>



  <link rel="stylesheet" media="all" href="/assets/application.self-26919e1bc66fcc1564a910338176a716d7a90104cc75233798b1dc84a5a176ad.css?body=1" data-turbolinks-track="load">
  <script src="/assets/rails-ujs.self-551fbd47b981dacbb84a270f9123074caf39eb72aaf6f478ab597c6f81435e4b.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/activestorage.self-6e8d967adecc8b2a7259df0f51ef5b6f171c33267c7d149a474beccd90c68697.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/turbolinks.self-2db6ec539b9190f75e1d477b305df53d12904d5cafdd47c7ffd91ba25cbec128.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b8d3affffc59a114853451.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e66391252443ce9.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/home.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="load"></script>
  <script src="/assets/application.self-66347cf0a4cb1f26f76868b4697a9eee457c8c3a6da80c6fdd76ff77e911715e.js?body=1" data-turbolinks-track="load"></script>
</head>
<body class="landing page">



  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
       <a href="/links">From the Web</a>
      <a href="/posts">Articles</a>
        <a href="/executives">Executives</a>
        <a href="/companies">Companies</a>
        <a href="/meetings">Events</a>
        <a href="/welcome/horizonspro">Subcribe/Free Trial</a>
        <a href="/twitter/index">Twitter</a>
      <a href="">Welcome Chris</a>
        <a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
    </div>
  </div>


  </nav>

  <div class="w-container">


                <div class="form">
                    <form action="https://businessappk3400.herokuapp.com/executives" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                       <input type="text" name="term" id="term" style="mx-1" class="text-field w-input col-md-4" placeholder="search for executives">
                       <input type="submit" name="commit" value="Search" style="mx-top;margin-left:5px;margin-top:2px;margin-bottom:1px" id="search" class="button btn btn-primary btn-circle" data-disable-with="Search">
                    </form>
                  </div>

              <div>





                       <span class="badge">
                       <a style="color:white" class="btn-primary" href="/executives?tag=polyglot">polyglot</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="l" href="/executives?tag=emerging+markets">emerging markets</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="m" href="/executives?tag=vegetarian">vegetarian</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="m" href="/executives?tag=women+in+tech">women in tech</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="m" href="/executives?tag=PHD">PHD</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="m" href="/executives?tag=serial+entrepreneur">serial entrepreneur</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="s" href="/executives?tag=private+equity">private equity</a></span>
                       <span class="badge" style="button1">
                       <a style="color:white" class="m" href="/executives?tag=banking">banking</a></span>
                    <span class="badge" style="button1">
                    <a style="font-size: 1em; color:white" href="/executives?fav=fav">My Favorites</a></span>
                       <span class="badge" style="button1">
                    <a style="font-size: 1em; color:white" href="/executives">All Executives</a></span>
                 </div>


        <div class="section white">
        <div class="w-container">
           <!--refactor into partial without index-->
          <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaWNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--11cdd590c6c19fb8c62d78444de3c769c2392061/gustaf%20agartson.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/57">
                          GUSTAF AGARTSON
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 35</h4>
                    <a href="/companies/208">
                       <h4 class="in-testi">
                          BIMA
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/gustaf.agartson" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/gustaf-agartson-4b634289/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/agartsongustaf" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/57/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZGM9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a112e8e5a79c13abe1a4ffb76cac8565ca2b706b/CEO%20BLOCKSTAK.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/16">
                          Muneeb  Ali
  </a>                  </h4>
                    <h5 class="in-testi">COFOUNDER
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: muneeb@ali.vc</h4>
                    <h4 class="project-type in-testi">age: 33</h4>
                    <a href="/companies/26">
                       <h4 class="in-testi">
                          BLOCKSTACK
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/muneebali" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/muneebali/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/muneeb" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/16/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaXNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--876d65c75c2c5176b1f80f9c06d4361911c5f7e5/kittinan.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/59">
                          Kittinan Anuphan
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: kittinan@anywheretogo.com</h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/210">
                       <h4 class="in-testi">
                          ClaimDi
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/jack.arunsawad" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/kittinan-anuphan-2230946/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/i_lert_u" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/59/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZE09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--e38343a5b93cda1a35514fd17debf4c19a2dedec/Adam%20Back%20blockstream.jfif">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/13">
                          Adam back
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 47</h4>
                    <a href="/companies/127">
                       <h4 class="in-testi">
                          BLOCKSTREAM
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/adam-back-043342" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/adam3us" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/13/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBYmc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--23eb0a8bf51e97a89aede60ed81ac015dec34b01/Jesii%20baker.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/9">
                          Jessi Baker
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: jessi@jessibaker.com</h4>
                    <h4 class="project-type in-testi">age: 32</h4>
                    <a href="/companies/153">
                       <h4 class="in-testi">
                          PROVENANCE
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/jessibaker" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/jessibaker" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=women+in+tech">women in tech</a></p>




                       <a href="/executives/9/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZXM9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--47de8ef90e727fad23ecf6a154cec66343fb9a8c/barnhydt.png">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/27">
                          Bill Barhy Barhy
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/136">
                       <h4 class="in-testi">
                          ABRA
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/billbar" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/billbar/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/billbarhydt" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/27/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBY1E9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--40b359e6b929a9844661bfe1e6c6b3b6008df516/HELPERVIT.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/10">
                          Guido Baroncini Turrichia
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/162">
                       <h4 class="in-testi">
                          HELPERBIT
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/guido.baroncini" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/guidobaronciniturricchia/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/surdivox" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=polyglot">polyglot</a></p>




                       <a href="/executives/10/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZUE9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d8f695a2e9af5dad3fbecacd46d05581e01e4112/john%20bass.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/18">
                          John Bass
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 46</h4>
                    <a href="/companies/91">
                       <h4 class="in-testi">
                          HASHED HEALTH
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/johngbass/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/JohnGBass" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/18/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaVVCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--74a45a835a1063bb8138a5114e400e4389b6d1f2/talal%20bayaa.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/56">
                          Talal Bayaa
  </a>                  </h4>
                    <h5 class="in-testi">CTO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 30</h4>
                    <a href="/companies/207">
                       <h4 class="in-testi">
                          BAYZAT
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/tzbayaa" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/talal-bayaa-213ba0b/" ,="" target="_blank">linkedIn</a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=private+equity">private equity</a>,<a href="/executives?tag=banking">banking</a></p>




                       <a href="/executives/56/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZEk9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--af7ecc28e07d4ea766a54659230e1d2735da7ddd/MIKE%20BELSHE%20BITGO.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/12">
                          Mike Belshe
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: mike@belshe.com</h4>
                    <h4 class="project-type in-testi">age: 47</h4>
                    <a href="/companies/174">
                       <h4 class="in-testi">
                          BITGO
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/mikebelshe/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/mikebelshe" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=serial+entrepreneur">serial entrepreneur</a></p>




                       <a href="/executives/12/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZWc9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7220bf47f1599a2e2a6abc221c6da059bb662f37/juan%20benet.png">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/25">
                          Juan Benet
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/135">
                       <h4 class="in-testi">
                          IPFS
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/juan.batizbenet" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/jbenetcs/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/juanbenet" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/25/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaU1CIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f73227ad04792457cd35fb3cf9be05a0071e5e0c/adrian%20Bentley.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/55">
                          Adrian Bentley
  </a>                  </h4>
                    <h5 class="in-testi">CTO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/206">
                       <h4 class="in-testi">
                          AnalyzeRe
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/ambentley/" ,="" target="_blank">linkedIn</a>
                          <br>
                    </h5>




                       <a href="/executives/55/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBajBCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--57e8c07ab7c6f00bbfafef39b0728cc8d653396b/Masarra-Paul-Npower-300x167.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/67">
                          Seth  Birnbaum
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 43</h4>
                    <a href="/companies/185">
                       <h4 class="in-testi">
                          EVERQUOTE
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/seth.birnbaum.1" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/seth-birnbaum-2732b5/" ,="" target="_blank">linkedIn</a>
                          <br>
                    </h5>




                       <a href="/executives/67/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZm89IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--5f31d70226b206b7558c4c8fd7e42b102818cb8c/blumer.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/36">
                          Brendan Blumer
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/89">
                       <h4 class="in-testi">
                          block.one
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                    </h5>




                       <a href="/executives/36/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ0FCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3fc9c9b3fcda92dd0c3c035e85591e7022b4aea7/matthew.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/41">
                          Matthew  Commons
  </a>                  </h4>
                    <h5 class="in-testi"> CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 38</h4>
                    <a href="/companies/186">
                       <h4 class="in-testi">
                          CAMBRIDGE BLOCKCHAIN
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/matthew.commons" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/matthewcommons/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/matthew_commons" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/41/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBalFCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b9fc60c23836f372f0095a813d7723324aba7746/Jip%20de%20Ridder.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/62">
                          Jip  de Ridder
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/216">
                       <h4 class="in-testi">
                          COMMONEASY
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/jipderidder" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/jip-de-ridder-5345b788/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/jipderidder" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/62/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaklCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b4c6b7ab9b399a403c496a2d0956c80477f29900/aliiii.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/61">
                          Ali  Diab
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/212">
                       <h4 class="in-testi">
                          Collective Health
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/alidiab/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/alidiab" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/61/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaDRCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--a1a28b61217aed8c2e3da26946413c697bc047ec/Julien%20Emery.html">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/54">
                          Julien Emery
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 34</h4>
                    <a href="/companies/199">
                       <h4 class="in-testi">
                          ALLAY
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/julien.emery1" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/emeryjulien/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/julienemery" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/54/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZUk9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--af0c918d62f4122b6b428dc154c3ff1183b8c71a/matan%20field.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/20">
                          Matan  Field
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: 38</h4>
                    <a href="/companies/125">
                       <h4 class="in-testi">
                          BACKFEED
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/matan.field" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/matan-field-92a2b396/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/MatanField" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=PHD">PHD</a></p>




                       <a href="/executives/20/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBYUU9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--dc75336151ad9f971eb35b1221f2a7397f599574/DavidFriedberg.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/7">
                          David Friedberg
  </a>                  </h4>
                    <h5 class="in-testi">Chairman
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/15">
                       <h4 class="in-testi">
                          Metromile
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                    </h5>
                       <p>Tags: <a href="/executives?tag=vegetarian">vegetarian</a></p>




                       <a href="/executives/7/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBaFFCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--eba476ac60ea83868837840b2069ff8afd952ca9/gauravitc.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/50">
                          Kumar Gaurav
  </a>                  </h4>
                    <h5 class="in-testi">CE0
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: kumargaurav@live.in</h4>
                    <h4 class="project-type in-testi">age: 28</h4>
                    <a href="/companies/197">
                       <h4 class="in-testi">
                          CASHAA
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/kgauravITC" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/kgauravitc/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/kgauravITC" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>
                       <p>Tags: <a href="/executives?tag=serial+entrepreneur">serial entrepreneur</a></p>




                       <a href="/executives/50/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBanNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--339a0dbd67956bfc99fec641f0f67fffe2c71655/KAT.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/66">
                          Katelyn  Gleason
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                    </h5>
                    <h4 class="project-type in-testi">email: k@eligibleapi.com</h4>
                    <h4 class="project-type in-testi">age: 35</h4>
                    <a href="/companies/219">
                       <h4 class="in-testi">
                          ELIGIBLE
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.linkedin.com/in/katelyngleason/" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/katelyngleason/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/katgleason" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/66/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBamdCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ab16fec36b41f85870d2f681a165df186c8bb0f7/1623436_10154379051465696_8580693682532979418_n.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/64">
                          Courtney  Guertin
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/218">
                       <h4 class="in-testi">
                          EASECENTRAL
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-facebook" %=""></i>
                          <a href="https://www.facebook.com/courtstarr" ,="" target="_blank">facebook   </a>
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/courtstarr/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/courtstarr" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/64/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->


   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBHZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--205a856a3abbb035186b5172386a845fffeb56f8/sunil_hirani.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/4">
                          Sunil Hirani
  </a>                  </h4>
                    <h5 class="in-testi">co-founder
                    </h5>
                    <h4 class="project-type in-testi">email: </h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/19">
                       <h4 class="in-testi">
                          Digital Asset Holdings
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/sunil-hirani-" ,="" target="_blank">linkedIn</a>
                          <br>
                    </h5>




                       <a href="/executives/4/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->
    </div>
    </div>


  <div class="card-deck">
  <div style="padding-bottom: 35px" class="row">
   <div class="w-col w-col-6">
              <div style="background-color: #d3d3d3; inline-block," width="100%" class="card">
                 <div class="icon-circle">

                          <img class="icon-circle" src="https://businessappk3400.herokuapp.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZFk9IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--3406ebe6b882d9e7610ede68b2b162620f017fc9/Brian%20Hoffman%20OpenBazaar.jpg">
                  </div>
                    <h4 class="in-testi">
                       <a class="btn-link" href="/executives/15">
                          Rian Hoffman
  </a>                  </h4>
                    <h5 class="in-testi">CEO
                          and a company founder
                    </h5>
                    <h4 class="project-type in-testi">email: Brian@OB1.io</h4>
                    <h4 class="project-type in-testi">age: </h4>
                    <a href="/companies/175">
                       <h4 class="in-testi">
                          OPENBAZAAR
                       </h4>
  </a>                  <h5 class="project-type in-testi">
                          <i class="fa fa-linkedin" %=""> </i>
                          <a href="https://www.linkedin.com/in/brianchoffman/" ,="" target="_blank">linkedIn</a>
                          <br>
                          <i class="fa fa-twitter" %=""></i>
                          <a href="https://twitter.com/brianchoffman" ,="" target="_blank">twitterurl
                          </a>
                          <br>
                    </h5>




                       <a href="/executives/15/favorite">Add to Favorites</a>
              </div> <!--end card -->
           </div>    <!-- end six width column -->



       </div>
  </div>
  </div>

    <nav class="pagination" role="navigation" aria-label="pager">


          <span class="page current">
    1
  </span>

          <span class="page">
    <a rel="next" href="/executives?page=2">2</a>
  </span>

          <span class="page">
    <a href="/executives?page=3">3</a>
  </span>

        <span class="next">
    <a rel="next" href="/executives?page=2">Next ›</a>
  </span>

        <span class="last">
    <a href="/executives?page=3">Last »</a>
  </span>

    </nav>







    </div>




  <link rel="stylesheet" media="screen" href="/posts/normalize.css">
  <link rel="stylesheet" media="screen" href="/posts/webflow.css">
  <link rel="stylesheet" media="screen" href="/posts/kevinblog.webflow.css">
      <div id="custom-footer">
      <div id="landing" class="footer">
      <div class="container-fluid">
          <div class="line-divider in-footer">
          </div>
          <div class="align-center">
          </div>
      </div>
      <div class="section-4">
          <div class="row-3 w-row">
              <div class="column-9 w-col w-col-3">
                  <div class="text-block-7">
                      <a class="link-2" href="/contacts/new">Contact</a>
                  </div>
              </div>
              <div class="column-10 w-col w-col-3">
                  <div class="text-block-7">
                   <a class="link-2" href="/landings/privacy">Privacy Policy</a>
                  </div>
              </div>
              <div class="column-11 w-col w-col-3">
                  <div class="text-block-7">
                      <a class="link-2" href="/landings/terms">Terms of Service</a>
                  </div>
              </div>
              <div class="column-12 w-col w-col-3">
                  <div class="text-block-7"><a class="link-2" href="/welcome/horizonspro">Subscribe</a>
                  </div>
              </div>
          </div>
           <br><br>
           <div class="row-3 w-row">
              <div class="column-9 w-col w-col-3">
                      <div class="text-block-7">
                      <span><a href="/twitter/index">Twitter Feed</a></span>
                      </div>
              </div>
              <div class="column-10 w-col w-col-3">
                  <div class="text-block-7">
                   <a class="link-2" href="/icos">ICO Data</a>
                  </div>
              </div>
              <div class="column-11 w-col w-col-3">
                  <div class="text-block-7">
                       <a class="link-2" href="/landings/team">Team</a>
                  </div>
              </div>
              <div class="column-12 w-col w-col-3">
                  <div class="text-block-7">
                      <a class="link-2" href="/users/edit.54">Profile</a>
                  </div>
              </div>
          </div>




      </div>




      <br>
      <p class="paragraph-3">© 2018&nbsp;FINTECH HORIZONS LLC
      </p>
     </div>
      </div>



  </div></div>
</doctype>
  </body>
</doctype>
</html>
